{{define "Title"}}Traces - appdash{{end}}

{{define "Main"}}

<!-- Styling for the import-json button & menu -->
<style>
  #import-json {
    float: right;
    position: relative;
    top: 20px;
  }
  #import-json-menu {
    display: none;
  }
  #import-json-menu>span {
    margin-left: auto;
  }
</style>

<!-- import-json button & page title -->
<button class="btn btn-default" type="button" id="import-json">Import JSON</button>
<h1>Traces</h1>

<!-- import-json menu -->
<div id="import-json-menu">
  <!-- TextArea -->
  <form role="form">
    <div class="form-group">
      <label for="comment">Import a JSON trace by pasting it below:</label>
      <textarea autocomplete="off" class="form-control" rows="5" id="import-json-trace"></textarea>
    </div>
  </form>
  <br/>
  <!-- Import / Cancel buttons -->
  <div class="btn-toolbar">
    <button class="btn btn-default pull-right" type="button" id="import-json-complete">Import</button>
    <button class="btn btn-default pull-right" type="button" id="import-json-cancel">Cancel</button>
  </div>
  <hr/>
</div>

<ul>
  {{range .Traces}}
  <li>
    <a href="{{urlToTrace .Span.ID.Trace}}">{{.Span.ID.Trace}}</a>

    <ul class="traces">
      <li class="trace" id="span-{{.Span.ID.Span}}">
        {{if .Name}}
        <strong title="{{.ID}}">{{.Name}}</strong>
        {{else}}
        <strong title="{{.ID}}">{{.ID.Span}}</strong>
        {{end}}

        {{if .Span.Annotations}}
        <table class="table table-condensed table-striped">
          {{range (filterAnnotations .Span.Annotations)}}
            {{if .Important}}
              <tr><th>{{.Key}}</th><td>{{str .Value}}</td></tr>
            {{end}}
          {{end}}
        </table>
        {{end}}
      </li>
    </ul>
  </li>
  {{end}}
</ul>

<!-- Bindings for the import-json menu -->
<script type="text/javascript">
  // Build a toggle function:
  var menuVisible = false;
  var toggleVisible = function(e) {
    if(menuVisible) {
      $("#import-json-menu").slideUp();
      $("#import-json").fadeIn();
    } else {
      $("#import-json-menu").slideDown(function() {
        $("#import-json-trace").focus();
      });
      $("#import-json").fadeOut();
    }
    menuVisible = !menuVisible;
    e.preventDefault();
  }

  // When user clicks the "Import JSON" or "Cancel" buttons, toggle the menu
  // visibility. Cancel as the toggle function works because it can only be
  // clicked when the menu is visible.
  $("#import-json").click(toggleVisible);
  $("#import-json-cancel").click(toggleVisible);

  // Upon completion of the import form, we POST the JSON trace data up to
  // the "/traces/upload" URL and reload the page to display the new trace.
  $("#import-json-complete").click(function() {
    // Trim whitespace to ensure the user pasted something (plus, the server
    // doesn't care about whitespace).
    var data = $("#import-json-trace").val().trim();
    if(data.length == 0) {
      alert("Please input a valid JSON Trace!");
      return;
    }

    // Upload the trace, refreshing page upon completion.
    $.post("/traces/upload", data)
      .done(function() { location.reload() })
      .fail(function(xhr, textStatus, errorThrown) {
        alert("error: " + xhr.responseText);
      })
  });
</script>

{{end}}
