{{define "Title"}}{{if .Trace.ID.Parent}}span {{.Trace.ID.Span}} - {{end}} trace {{.Trace.ID.Trace}} - apptrace{{end}}

{{define "Main"}}
<h1>Trace {{.Trace.ID.Trace}}</h1>
{{if .Trace.ID.Parent}}<h2>Sub-span {{.Trace.ID.Span}}</h2>{{end}}

<div>
<div id="#trace-{{.Trace.ID.Trace}}" class="trace-timeline"></div>
<div id="hoverRes">
  <div class="coloredDiv"></div>
  <div id="name"></div>
  <div id="scrolled_date"></div>
</div>
</div>

<style type="text/css">
 .axis path,
 .axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
 }
 .axis text {
   font-family: sans-serif;
   font-size: 10px;
 }
 .timeline-label {
   font-family: sans-serif;
   font-size: 12px;
 }
 #timeline2 .axis {
   transform: translate(0px,30px);
   -ms-transform: translate(0px,30px); /* IE 9 */
   -webkit-transform: translate(0px,30px); /* Safari and Chrome */
   -o-transform: translate(0px,30px); /* Opera */
   -moz-transform: translate(0px,30px); /* Firefox */
 }
 .coloredDiv {
   height:20px; width:20px; float:left;
 }
</style>

<script type="text/javascript">
 var data = {{.VisData}};
 var width = $(".container").width();

 // em converts the input (in em units) to pixels units and returns it.
 function em(emUnits) {
   var fontSize = parseFloat($('body').css('font-size'));
   return fontSize * emUnits;
 }

 function timelineHover() {
   var chart = d3.timeline()
                 .width(width)
                 .stack()
                 .margin({left:em(6), right:0, top:0, bottom:0})
                 .hover(function (d, i, datum) {
                   // d is the current rendering object
                   // i is the index during d3 rendering
                   // datum is the id object
                   var div = $('#hoverRes');
                   var colors = chart.colors();
                   div.find('.coloredDiv').css('background-color', colors(i))
                   div.find('#name').text(datum.label);
                 })
                 .click(function (d, i, datum) {
                   window.location.href = datum.url;
                   //alert(JSON.stringify(datum.rawData, null, 2));
                 });
   var svg = d3.select(".trace-timeline").append("svg").attr("width", width)
               .datum(data).call(chart);
 }

 timelineHover();
</script>

<ul class="traces">
  {{template "Trace" .Trace}}
</ul>

{{end}}

