{{define "Title"}}{{if .Trace.ID.Parent}}span {{.Trace.ID.Span}} - {{end}} trace {{.Trace.ID.Trace}} - apptrace{{end}}

{{define "Main"}}
<h1>Trace {{.Trace.ID.Trace}}</h1>
{{if .Trace.ID.Parent}}<h2>Sub-span {{.Trace.ID.Span}}</h2>{{end}}

<div>
<div id="#trace-{{.Trace.ID.Trace}}" class="trace-timeline"></div>
<div id="hoverRes">
  <div class="coloredDiv"></div>
  <div id="name"></div>
  <div id="scrolled_date"></div>
</div>
</div>

<style type="text/css">
 .axis path,
 .axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
 }
 .axis text {
   font-family: sans-serif;
   font-size: 10px;
 }
 .timeline-label {
   font-family: sans-serif;
   font-size: 12px;
 }
 #timeline2 .axis {
   transform: translate(0px,30px);
   -ms-transform: translate(0px,30px); /* IE 9 */
   -webkit-transform: translate(0px,30px); /* Safari and Chrome */
   -o-transform: translate(0px,30px); /* Opera */
   -moz-transform: translate(0px,30px); /* Firefox */
 }
 .coloredDiv {
   height:20px; width:20px; float:left;
 }
</style>

<script type="text/javascript">
 var data = {{.VisData}};
 var width = $(".container").width();

 // em converts the input (in em units) to pixels units and returns it.
 function em(emUnits) {
   var fontSize = parseFloat($('body').css('font-size'));
   return fontSize * emUnits;
 }

 // numFromEnd returns the number from the end of the potentially garbage
 // string, e.g. "timelineItem_1443" -> 1443
 function numFromEnd(str) {
   return parseInt(str.match(/(\d+)$/)[0], 10);
 }

 function timelineHover() {
   var timespanHover = function(chart, index) {
     var div = $('#hoverRes');
     var colors = chart.colors();
     div.find('.coloredDiv').css('background-color', colors(index));
     div.find('#name').text(data[index].label);
   }

   var chart = d3.timeline()
                 .width(width)
                 .stack()
                 .margin({left:em(6), right:0, top:0, bottom:0})
                 .hover(function (d, i, datum) { timespanHover(chart, i) })
                 .click(function (d, i, datum) {
                   window.location.href = datum.url;
                   //alert(JSON.stringify(datum.rawData, null, 2));
                 });
   var svg = d3.select(".trace-timeline").append("svg").attr("width", width)
               .datum(data).call(chart);

   // Make text on each timeline element click-able. d3-timeline.js doesn't
   // seem to have a way to support this easily.
   //
   // We do this by selecting the text element, finding the prev element (the
   // SVG rect), and then parsing the ID (which looks like: "timelineItem_1").
   //
   // The last number of that is the index into our data.
   $(".trace-timeline g>text").each(function() {
     $(this).hover(function() {
       var index = numFromEnd($(this).prev().attr('id'));
       timespanHover(chart, index);
     });

     $(this).click(function() {
       var index = numFromEnd($(this).prev().attr('id'));
       window.location.href = data[index].url;
     });
   });
 }

 timelineHover();
</script>

<ul class="traces">
  {{template "Trace" .Trace}}
</ul>

{{end}}

