{{define "Trace"}}
<li class="trace" id="span-{{.Span.ID.Span}}">
  {{template "SpanLabel" .Span}}
  {{if .Span.Annotations}}
  <table class="table table-condensed table-striped">
    {{range (filterAnnotations .Span.Annotations)}}
    <tr><th>{{.Key}}</th><td>{{str .Value}}</td></tr>
    {{end}}
  </table>
  {{end}}

  {{if descendTraces}}
  {{if .Sub}}
  <ul class="sub traces">
    {{range .Sub}}
    {{template "Trace" .}}
    {{end}}
  </ul>
  {{end}}
  {{end}}
</li>
{{end}}

{{define "SpanLabel"}}
{{if .Name}}
<strong title="{{.ID}}">{{.Name}}</strong>
{{else}}
<strong title="{{.ID}}">{{.ID.Span}}</strong>
{{end}}
{{end}}
