{{define "Title"}}Traces - apptrace{{end}}

{{define "Main"}}
<h1>Traces</h1>

<ul>
  {{range .Traces}}
  <li>
    <a href="{{urlToTrace .Span.ID.Trace}}">{{.Span.ID.Trace}}</a>

    <ul class="traces">
      <li class="trace" id="span-{{.Span.ID.Span}}">
        {{if .Name}}
        <strong title="{{.ID}}">{{.Name}}</strong>
        {{else}}
        <strong title="{{.ID}}">{{.ID.Span}}</strong>
        {{end}}

        {{if .Span.Annotations}}
        <table class="table table-condensed table-striped">
          {{range (filterAnnotations .Span.Annotations)}}
          <tr><th>{{.Key}}</th><td>{{str .Value}}</td></tr>
          {{end}}
        </table>
        {{end}}
      </li>
    </ul>
  </li>
  {{end}}
</ul>
{{end}}
